html, body {
	border: 0 none;
	margin: 0;
	padding: 0;
}

html, body, #app-root { height: 100%; }
#app-root {
	display: grid;
	grid-template-columns: 300px auto;
	grid-template-rows: 100px auto;

	.header {
		grid-column: 1 / 3;
		grid-row: 1 / 2;

		background-color: #efffef;

		h1 {
			text-align: center;
		}
	}

	.sidebar {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
		overflow-y: auto;

		background-color: #efefef;
	}

	.main {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
		overflow-y: auto;

		padding: 1em;
	}
}

.slider {
	$padding: 5px;
	$lineHeight: 1.5em;
	$carretHeight: 20px;
	$carretWidth: 10px;

	padding: calc(#{$lineHeight} + #{($padding + $carretHeight / 2)}) ($padding + $carretWidth / 2) ($padding + $carretHeight / 2);

	.slider-bar {
		position: relative;
		box-sizing: border-box;
		height: 5px;
		overflow: visible;
		box-shadow: inset 0 0 1px #00000066;
		border-radius: 3px;

		.slider-carret {
			position: absolute;
			width: 0;
			height: 0;
			top: 50%;

			.slider-carret-inner {
				position: relative;
				width: $carretWidth;
				left: -$carretWidth / 2;
				height: $carretHeight;
				top: -$carretHeight / 2;
				overflow: visible;

				border-radius: 5px;
				border: 1px solid #cccccc;
				background-color: #e5e5e5;

				.slider-carret-value {
					display: none;
					position: absolute;
					z-index: 10;

					line-height: $lineHeight;
					top: -$lineHeight;
					left: 50%;
					transform: translate(-50%, 0);
				}
			}
		}

		.slider-carret.dragging-yes { 
			.slider-carret-inner {
				background-color: #dddddd;
			}
			.slider-carret-value {
				display: inline-block;
			}
		}
	}
}
